@import url(/assets/css/global/global.css);

* {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;   
}

body{
    background-color: var(--branco);
}

/* Cabeçalho */
header{
    display: flex;
    align-items: center;
    padding: 20px 0;
    margin: 0 5% 0 5%;

    .header__title{
        flex: 1;
        color: var(--roxo);
        text-shadow: 5px 5px 20px var(--violeta);
        font-size: 2.2rem;
    }

    .header__search{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: end;
        max-width: 70%;

        .header__inputSearch{
            width: 50%;
            border: none;
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
            outline: none;
            border: 1px solid var(--roxo);
        }

        .header__inputSearch:focus{
            border-color: var(--violeta);
        }
        
        .header__btnSearch{
            color: var(--branco);
            border: solid 1px var(--violeta);
            width: 15%;
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
            background-color: var(--violeta);
            cursor: pointer;
        }

        .header__btnSearch:hover{
            opacity: 0.8;
        }

        .header__btnSearch:active{
            background-color: var(--roxo);
        }

        .header__inputSearch, .header__btnSearch{
            padding: 10px;
        }
    }
}

/* Corpo/Main */
main{
    margin: 0 5% 0 5%;
    display: flex;
    flex-flow: column wrap;
    align-items: center;

    .carousel{
        display: flex;
        width: 100%;
        background-color: var(--roxo);
        padding: 20px;
        gap: 20px;
        height: 350px;
        overflow: hidden;

        .carousel__imgContainer{
            flex: 30%;
            display: flex;
            align-items: center;
            overflow: hidden;
        }

        .carousel__content{
            display: flex;
            flex-flow: column wrap;
            gap: 20px;
            flex: 50%;
            padding: 20px;
            background-color: var(--violeta);
            color: var(--branco);
            border-radius: 15px;
            height: 100%;
            overflow: hidden;

            .carousel__title{
                text-align: center;
            }

            .carousel__overview{
                display: -webkit-box;                
                -webkit-box-orient: vertical;        
                -webkit-line-clamp: 5;                
                line-clamp: 5;
                overflow: hidden;                   
                text-overflow: ellipsis;
            }
        }
    }

    .container{
        display: flex;
        flex-flow: row wrap;
        width: 100%;
        margin-top: 2%;
        justify-content: space-between;
        gap: 30px;
        
        .container__card{
            background-color: var(--violeta);
            color: var(--branco);
            display: flex;
            flex-flow: column wrap;
            justify-content: space-between;
            width: 30%;
            padding: 20px;
            gap: 8px;

            figcaption{
                text-align: center;
            }
            
            .container__img{
                margin-top: 10px;
                width: 100%;       
                height: 200px;       
                object-fit: cover;   
                border-radius: 10px;
            }

            .container__overview{
                display: -webkit-box;                
                -webkit-box-orient: vertical;        
                -webkit-line-clamp: 3;                
                line-clamp: 3;
                overflow: hidden;                   
                text-overflow: ellipsis;
            }

            .container__btnDetails{
                width: 40%;
                padding: 15px;
                margin: 0 0 0 60%;
                border: none;
                cursor: pointer;
            }

            .container__btnDetails:hover{
                background-color: var(--roxo);
                color: var(--branco);
            }
        }

        .ghost{
            visibility: hidden;
        }
    }
}

